@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        width: 650px;
        height: 270px;
    }

    div#main{
        display: inline-block;
        border-radius: 0px 20px 20px 0px;
        width: 429px;
        height: 250px;
        vertical-align: middle;
        margin-left: -4px;
    }

    div#imagem{
        display: inline-block;
        border-radius: 20px 0px 0px 20px;
        width: 200px;
        height: 270px;
        vertical-align: middle;
    }

    input.text{
        width: 370px;
    }
    
    input#sub{
        width: 429px;
        height: 40px;
    }

    input#es{
        width: 429px;
        height: 40px;
    }

}